<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Name</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="navbar">
        <h1 class="title">Set Your Name</h1>
    </div>

    <!-- Form to set the user name -->
    <div class="content">
        <form action="/set_name" method="POST" class="form-group">
                <input type="text" id="name" name="name" class="filter-input" placeholder="Set your name here...">
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
</body>
</html>
